/*main classes */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

.check__wrapper {
  margin-inline-end: 20px;
  display: flex;
  align-items: center; }
  .check__wrapper input {
    width: 20px;
    height: 20px;
    margin-inline-end: 8px; }
  .check__wrapper label {
    font-size: 18px;
    margin: 0; }

/*nav*/
.navbar {
  background-color: #fff;
  border-bottom: 2px solid #c0c0c0;
  margin-bottom: 24px;
  min-height: 150px;
  /*mega menus */ }
  @media (max-width: 991px) {
    .navbar {
      min-height: 80px; } }
  .navbar .navbar-brand {
    margin-bottom: 24px; }
    @media (max-width: 991px) {
      .navbar .navbar-brand {
        margin: 0; } }
  .navbar .container {
    flex-direction: column; }
    @media (max-width: 991px) {
      .navbar .container {
        flex-direction: row; } }
  .navbar .right_part {
    position: absolute;
    right: 0;
    top: 0; }
    @media (max-width: 991px) {
      .navbar .right_part {
        position: relative; } }
    .navbar .right_part a {
      color: #000;
      text-decoration: none !important;
      margin-bottom: 8px;
      display: block; }
    .navbar .right_part .search span {
      margin: 0 12px 0 4px;
      cursor: pointer; }
  .navbar .left-part {
    position: absolute;
    left: 0;
    top: 0; }
    @media (max-width: 991px) {
      .navbar .left-part {
        position: relative; } }
    .navbar .left-part .sign span {
      cursor: pointer; }
    .navbar .left-part .currency {
      color: #888888; }
    .navbar .left-part select {
      border: none;
      outline: none;
      margin-bottom: 12px; }
  .navbar .navbar-nav .nav-item.dropdown {
    position: static; }
    .navbar .navbar-nav .nav-item.dropdown .nav-link:after {
      display: none; }
    .navbar .navbar-nav .nav-item.dropdown .dropdown-menu {
      width: 100%;
      height: auto;
      top: 128px;
      border: none; }
  .navbar .navbar-nav li .nav-link {
    color: #000;
    font-weight: bold; }

.menues {
  padding-bottom: 24px; }
  .menues .designer_menu .col-lg-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .menues .designer_menu h5 {
    margin-bottom: 16px; }
  .menues .designer_menu a {
    color: #888888;
    margin-bottom: 8px;
    text-decoration: none; }
  .menues .designer_menu a.all {
    text-decoration: underline; }
  .menues .designer_menu .img_part p {
    font-size: 15px;
    margin-bottom: 8px;
    color: #888; }
  .menues .designer_menu .img_part a {
    text-decoration: underline; }

/*main */
main {
  height: 100vh; }
  main .container {
    background-image: url(../imgs/main.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 10; }
    main .container .main-content {
      z-index: 10; }
    main .container h1 {
      font-weight: 400; }
    main .container p {
      font-size: 18px; }
    main .container a {
      color: #fff;
      text-decoration: underline;
      font-size: 18px; }

.brand {
  padding: 16px 0; }
  .brand .container {
    padding: 0; }
  .brand img {
    height: 350px;
    object-fit: cover; }
  .brand h6 {
    font-size: 15px;
    margin: 4px 0; }
  .brand p {
    margin: 0 0 8px;
    font-size: 15px;
    font-weight: 500; }

.style {
  padding: 16px 0; }
  .style h6 {
    font-size: 15px;
    margin: 4px 0; }
  .style p {
    margin: 0 0 8px;
    font-size: 15px;
    font-weight: 500; }

.culture {
  padding: 16px 0; }
  .culture span {
    color: #b3b3b3;
    margin-bottom: 8px; }
  .culture p {
    font-size: 18px;
    color: #121212;
    margin-bottom: 16px;
    font-weight: 500; }
  .culture a {
    color: #b3b3b3;
    border: 1px solid #121212;
    text-decoration: none !important;
    width: fit-content;
    padding: 4px 16px; }

/*subscribe*/
.subscribe .sub_content {
  background-image: url(../imgs/main.jpeg);
  background-position: center;
  background-size: cover;
  min-height: 300px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .subscribe .sub_content .sub_wrapper {
    position: relative;
    z-index: 10; }
    .subscribe .sub_content .sub_wrapper h4 {
      font-weight: 400; }
    .subscribe .sub_content .sub_wrapper .input__holder {
      position: relative;
      margin-top: 24px; }
      .subscribe .sub_content .sub_wrapper .input__holder input {
        background-color: transparent;
        border: none;
        outline: none;
        color: #fff;
        padding-right: 32px;
        border-bottom: 1px solid #fff;
        width: 100%; }
        .subscribe .sub_content .sub_wrapper .input__holder input::-moz-placeholder {
          color: #fff; }
        .subscribe .sub_content .sub_wrapper .input__holder input::-webkit-input-placeholder {
          color: #fff; }
        .subscribe .sub_content .sub_wrapper .input__holder input::placeholder {
          color: #fff; }
      .subscribe .sub_content .sub_wrapper .input__holder button {
        background-color: transparent;
        box-shadow: none !important;
        border: none;
        outline: none;
        position: absolute;
        right: 0;
        cursor: pointer; }

footer {
  padding: 24px 0;
  border-top: 3px solid #c0c0c0;
  margin-top: 24px; }
  footer .container {
    padding: 0; }
  footer .footer_about p {
    font-size: 14px;
    color: #bababa; }
  footer .footer_about .social i {
    margin-inline-end: 8px; }
  @media (max-width: 991px) {
    footer .footer_about .social {
      margin-bottom: 24px; } }
  @media (max-width: 991px) {
    footer .footer_links {
      margin-bottom: 24px; } }
  footer .footer_links h5 {
    font-weight: 600;
    margin-bottom: 16px;
    font-size: 17px; }
  footer .footer_links a {
    color: #8f8f8f;
    display: block;
    margin-bottom: 8px;
    text-decoration: none !important; }

/*responsive issues */
@media (max-width: 575px) {
  .container,
  .main-content {
    padding-right: 15px !important;
    padding-left: 15px !important; } }

@media (max-width: 575px) {
  .subscribe .container,
  .main .container {
    padding: 0 !important; } }

/*information*/
.information {
  border-bottom: 2px solid #c0c0c0; }
  .information .col-lg-3 {
    border-right: 2px solid #c0c0c0; }
    @media (max-width: 991px) {
      .information .col-lg-3 {
        border: none; } }
    .information .col-lg-3 .info_links {
      margin-top: 24px; }
      .information .col-lg-3 .info_links a {
        color: #888888;
        display: block;
        text-decoration: none !important;
        margin-bottom: 8px; }
    .information .col-lg-3 .info_links:last-child {
      margin-bottom: 24px; }
  .information .delivery_content {
    padding: 24px 50px; }
    @media (max-width: 991px) {
      .information .delivery_content {
        padding: 24px 0; } }
    .information .delivery_content h4 {
      margin-bottom: 24px; }
    .information .delivery_content p {
      color: #888; }

/* acc_setting*/
.acc_setting {
  border: none; }
  .acc_setting h3 {
    border-bottom: 2px solid #c0c0c0;
    font-weight: normal;
    font-size: 24px;
    padding: 20px; }
  .acc_setting .col-lg-3 {
    border: none; }
  .acc_setting .account_set_links {
    border: 1px solid #ccc;
    margin-bottom: 16px;
    margin-top: 24px;
    width: 80%; }
    .acc_setting .account_set_links a {
      border-bottom: 1px solid #ccc;
      display: block;
      padding: 8px 12px;
      color: #121212; }
    .acc_setting .account_set_links a:last-child {
      border: none; }
  .acc_setting .sign_out {
    background-color: #000;
    text-align: center;
    padding: 8px 12px;
    width: 80%; }
    .acc_setting .sign_out a {
      color: #fff;
      text-decoration: none; }
  .acc_setting .personal_info {
    border: 1px solid #c0c0c0;
    padding: 18px;
    margin-top: 24px;
    margin-bottom: 16px; }
    .acc_setting .personal_info input {
      display: block;
      width: 40%;
      border: none;
      outline: none; }
    .acc_setting .personal_info a {
      color: #121212;
      text-decoration: none; }

.modal.login .modal-dialog {
  max-width: 95%;
  height: 100%; }
  .modal.login .modal-dialog .modal-content {
    height: 100%; }
    .modal.login .modal-dialog .modal-content .modal-header {
      border: none;
      padding-top: 50px; }
      .modal.login .modal-dialog .modal-content .modal-header .close {
        position: absolute;
        right: 15px;
        top: 15px; }
    .modal.login .modal-dialog .modal-content .modal-body .body_content {
      max-width: 500px;
      width: 100%;
      margin: auto; }
      .modal.login .modal-dialog .modal-content .modal-body .body_content form input {
        width: 100%;
        border: 1px solid #c0c0c0;
        margin-bottom: 16px;
        padding: 8px 12px;
        border-radius: 4px; }
      .modal.login .modal-dialog .modal-content .modal-body .body_content form .remember .check {
        align-items: center; }
        .modal.login .modal-dialog .modal-content .modal-body .body_content form .remember .check label {
          margin: 0; }
        .modal.login .modal-dialog .modal-content .modal-body .body_content form .remember .check .my_check {
          display: inline;
          margin: 0;
          width: fit-content;
          margin-right: 5px; }
      .modal.login .modal-dialog .modal-content .modal-body .body_content form .remember a {
        color: #121212;
        text-decoration: underline; }
      .modal.login .modal-dialog .modal-content .modal-body .body_content form .sign_button {
        background-color: #000;
        border-color: #000;
        color: #fff;
        outline: none;
        padding: 8px 28px;
        margin-top: 24px; }
      .modal.login .modal-dialog .modal-content .modal-body .body_content form .join_now {
        margin-top: 36px;
        display: block; }
        .modal.login .modal-dialog .modal-content .modal-body .body_content form .join_now a {
          color: #888;
          text-decoration: underline; }

.subscribe [type="radio"]:checked,
.subscribe [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }
.subscribe [type="radio"]:checked + label,
.subscribe [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #fff; }
.subscribe [type="radio"]:checked + label:before,
.subscribe [type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff; }
.subscribe [type="radio"]:checked + label:after,
.subscribe [type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #121212;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
.subscribe [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }
.subscribe [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.gray_bg .container {
  background-image: linear-gradient(to bottom, #fff 80%, #f9f9f9); }

/*fav designers */
.fav_designers h3 span {
  display: block;
  font-size: 16px;
  margin-top: 8px;
  color: #121212; }
.fav_designers .fav_list ul {
  padding: 24px 24px 0; }
  .fav_designers .fav_list ul li {
    margin-bottom: 8px; }
    .fav_designers .fav_list ul li a {
      color: #121212;
      text-decoration: underline; }

/*producy_item*/
.producy_item {
  margin-top: 24px; }
  .producy_item .product_img {
    overflow: hidden;
    margin-bottom: 8px; }
    .producy_item .product_img .quick_view {
      position: absolute;
      width: 100%;
      background: #000;
      color: #fff;
      height: 30px;
      padding-left: 8px;
      display: flex;
      align-items: center;
      font-size: 15px;
      bottom: -35px;
      transition: 0.5s;
      cursor: pointer; }
    .producy_item .product_img .fav_star {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 18px; }
    .producy_item .product_img:hover span {
      bottom: 0; }
  .producy_item .product_info .product_name {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 4px; }
  .producy_item .product_info .product_desc,
  .producy_item .product_info .product_price,
  .producy_item .product_info .product_net {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
    color: #333;
    font-weight: 500; }

.load_more {
  margin: 36px 0 24px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .load_more a {
    border: 1px solid #121212;
    color: #121212;
    padding: 6px 46px;
    text-decoration: none; }

/*designer_collection_header*/
.designer_collection_header {
  padding: 24px 0;
  border-bottom: 2px solid #c0c0c0;
  text-align: center; }
  .designer_collection_header h3 {
    border: none;
    padding: 0; }
  .designer_collection_header h6 {
    margin-bottom: 24px; }
  .designer_collection_header p {
    width: 60%;
    margin: auto; }
    @media (max-width: 991px) {
      .designer_collection_header p {
        width: 100%; } }

.sort_by .btn-group {
  margin-top: 24px; }
  .sort_by .btn-group button {
    background-color: transparent !important;
    color: #212121 !important;
    border-color: #212121 !important;
    box-shadow: none !important; }

.search_filters {
  margin-top: 24px; }
  .search_filters span {
    color: #888;
    display: block;
    margin-bottom: 24px; }

#accordion .card {
  border: none;
  margin-bottom: 16px;
  border-bottom: 1px solid #ccc;
  border-radius: 0; }
#accordion .card-header {
  padding: 0;
  background-color: transparent;
  border: none; }
  #accordion .card-header h5 {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  #accordion .card-header button {
    padding: 0;
    color: #121212;
    font-weight: bold; }
  #accordion .card-header small {
    color: #888;
    display: block; }
  #accordion .card-header i {
    font-size: 16px; }
#accordion .card-body {
  padding: 0; }

.paging {
  margin-top: 36px; }
  .paging span {
    padding: 8px;
    font-weight: bold; }
  .paging .prev {
    margin-right: 16px;
    font-weight: bold; }
    .paging .prev i {
      margin-right: 8px; }
  .paging .next {
    margin-left: 16px;
    font-weight: bold; }
    .paging .next i {
      margin-left: 8px; }

/*a__z page */
.a_z_row .col-lg-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.search_prod {
  margin-top: 24px; }
  .search_prod form {
    width: fit-content;
    position: relative; }
    .search_prod form input {
      border: none;
      border-bottom: 1px solid #121212;
      outline: none; }
    .search_prod form button {
      background-color: transparent;
      border: none;
      position: absolute;
      right: 0; }

.categories {
  margin-bottom: 36px; }

.filter_options {
  margin-top: 36px; }
  .filter_options h6 {
    color: #888;
    margin-bottom: 16px; }
  .filter_options .check_option .wrapper {
    margin-bottom: 6px; }
    @media (max-width: 1200px) {
      .filter_options .check_option .wrapper {
        flex-wrap: wrap; } }
  .filter_options .check_option input {
    margin-right: 4px; }
  .filter_options .check_option span {
    color: #888;
    font-size: 13px; }

.string_filter {
  margin-top: 25px;
  margin-left: 24px;
  text-align: center;
  margin-bottom: 12px; }
  .string_filter a {
    color: #000;
    text-decoration: none !important;
    padding: 4px;
    margin-right: 8px;
    font-weight: bold; }

.designer_num {
  color: #888;
  font-size: 15px; }

.num_links {
  margin-bottom: 8px;
  padding-left: 28px; }
  @media (max-width: 991px) {
    .num_links {
      padding-left: 0; } }
  .num_links h3 {
    border: none;
    padding: 0;
    font-weight: bold;
    margin-bottom: 16px; }
  .num_links a {
    display: block;
    color: #888;
    margin-bottom: 12px;
    font-weight: 600; }

/********************************modal *************************/
/*****************globals*************/
#productModal {
  /*# sourceMappingURL=style.css.map */ }
  #productModal img {
    max-width: 100%;
    height: 100%;
    object-fit: cover; }
  #productModal .preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  @media screen and (max-width: 996px) {
    #productModal .preview {
      margin-bottom: 20px; } }
  #productModal .preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%; }
    #productModal .preview-pic .tab-pane.active {
      height: 100%; }
      #productModal .preview-pic .tab-pane.active img {
        height: 100%;
        object-fit: cover; }
  #productModal .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;
    flex-direction: column;
    justify-content: space-between;
    margin: 0; }
  #productModal .preview-thumbnail.nav-tabs li {
    width: 80%;
    margin-right: 2.5%; }
    #productModal .preview-thumbnail.nav-tabs li a img {
      opacity: .5;
      height: 70px;
      object-fit: cover; }
    #productModal .preview-thumbnail.nav-tabs li a.active img {
      opacity: 1; }
  #productModal .preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block; }
  #productModal .preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0; }
  #productModal .preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0; }
  #productModal .tab-content {
    overflow: hidden; }
  #productModal .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s; }
  #productModal .card {
    padding: 0;
    border: none;
    line-height: 1.5em; }
  @media screen and (min-width: 997px) {
    #productModal .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  #productModal .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  #productModal .product-title,
  #productModal .price,
  #productModal .sizes,
  #productModal .colors {
    text-transform: UPPERCASE;
    font-weight: bold;
    font-size: 15px; }
  #productModal h5.sizes {
    border-bottom: 2px solid #c0c0c0;
    padding-bottom: 12px; }
  #productModal .checked,
  #productModal .price span {
    color: #000;
    font-size: 16px; }
  #productModal .product-title,
  #productModal .rating,
  #productModal .product-description,
  #productModal .price,
  #productModal .vote,
  #productModal .sizes {
    margin-bottom: 15px; }
  #productModal .product-description {
    text-transform: capitalize;
    color: #888;
    font-size: 17px; }
  #productModal .product-title {
    margin-top: 0; }
  #productModal .size {
    margin-right: 10px;
    font-weight: normal; }
  #productModal .size:first-of-type {
    margin-left: 40px; }
  #productModal .color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px; }
  #productModal .color:first-of-type {
    margin-left: 20px; }
  #productModal .add-to-cart,
  #productModal .like {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease; }
  #productModal .add-to-cart:hover,
  #productModal .like:hover {
    background: #b36800;
    color: #fff; }
  #productModal .not-available {
    text-align: center;
    line-height: 2em; }
  #productModal .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }
  #productModal .orange {
    background: #ff9f1a; }
  #productModal .green {
    background: #85ad00; }
  #productModal .blue {
    background: #0076ad; }
  #productModal .tooltip-inner {
    padding: 1.3em; }
@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }
  #productModal .shop_now {
    margin-bottom: 24px; }
    #productModal .shop_now a {
      background-color: #000;
      color: #fff;
      text-decoration: none !important;
      padding: 8px 36px;
      margin-right: 24px; }
  #productModal .color_list {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #c0c0c0;
    padding-bottom: 12px !important; }
    #productModal .color_list li {
      width: fit-content;
      margin-right: 16px;
      border-radius: 50%;
      height: 35px;
      width: 35px; }
      #productModal .color_list li span {
        width: 100%;
        height: 100%;
        display: inline-block;
        border-radius: 50%; }
    #productModal .color_list li.active {
      border: 1px solid #888;
      padding: 3px; }
    #productModal .color_list li.yellow span {
      background-color: yellow; }
    #productModal .color_list li.purple span {
      background-color: purple; }
  #productModal .prod_details {
    padding-bottom: 12px;
    border-bottom: 2px solid #c0c0c0; }

/*# sourceMappingURL=style.css.map */
