/*main classes */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.check__wrapper {
  margin-inline-end: 20px;
  display: flex;
  align-items: center;
  input {
    width: 20px;
    height: 20px;
    margin-inline-end: 8px;
  }
  label {
    font-size: 18px;
    margin: 0;
  }
}

/*nav*/

.navbar {
  background-color: #fff;
  border-bottom: 2px solid #c0c0c0;
  margin-bottom: 24px;
  min-height: 150px;
  @media (max-width: 991px) {
    min-height: 80px;
  }
  .navbar-brand {
    margin-bottom: 24px;
    @media (max-width: 991px) {
      margin: 0;
    }
  }
  .container {
    flex-direction: column;
    @media (max-width: 991px) {
      flex-direction: row;
    }
  }
  .right_part {
    position: absolute;
    right: 0;
    top: 0;
    @media (max-width: 991px) {
      position: relative;
    }
    a {
      color: #000;
      text-decoration: none !important;
      margin-bottom: 8px;
      display: block;
    }
    .search {
      span {
        margin: 0 12px 0 4px;
        cursor: pointer;
      }
    }
  }
  .left-part {
    position: absolute;

    left: 0;
    top: 0;
    @media (max-width: 991px) {
      position: relative;
    }
    .sign {
      span {
        cursor: pointer;
      }
    }
    .currency {
      color: #888888;
    }
    select {
      border: none;
      outline: none;
      margin-bottom: 12px;
    }
  }

  /*mega menus */

  .navbar-nav {
    .nav-item.dropdown {
      position: static;
      .nav-link:after {
        display: none;
      }
      .dropdown-menu {
        width: 100%;
        height: auto;
        top: 128px;
        border: none;
      }
    }
    li {
      .nav-link {
        color: #000;
        font-weight: bold;
      }
    }
  }
}

.menues {
  padding-bottom: 24px;
  .designer_menu {
    .col-lg-3 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    h5 {
      margin-bottom: 16px;
    }
    a {
      color: #888888;
      margin-bottom: 8px;
      text-decoration: none;
    }
    a.all {
      text-decoration: underline;
    }
    .img_part {
      p {
        font-size: 15px;
        margin-bottom: 8px;
        color: #888;
      }
      a {
        text-decoration: underline;
      }
    }
  }
}
/*main */

main {
  height: 100vh;

  .container {
    background-image: url(../imgs/main.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;
    .main-content {
      z-index: 10;
    }
    h1 {
      font-weight: 400;
    }
    p {
      font-size: 18px;
    }
    a {
      color: #fff;
      text-decoration: underline;
      font-size: 18px;
    }
  }
}

.brand {
  padding: 16px 0;

  .container {
    padding: 0;
  }
  img {
    height: 350px;
    object-fit: cover;
  }
  h6 {
    font-size: 15px;
    margin: 4px 0;
  }
  p {
    margin: 0 0 8px;
    font-size: 15px;
    font-weight: 500;
  }
}
.style {
  padding: 16px 0;

  h6 {
    font-size: 15px;
    margin: 4px 0;
  }
  p {
    margin: 0 0 8px;
    font-size: 15px;
    font-weight: 500;
  }
}

.culture {
  padding: 16px 0;
  span {
    color: #b3b3b3;
    margin-bottom: 8px;
  }
  p {
    font-size: 18px;
    color: #121212;
    margin-bottom: 16px;
    font-weight: 500;
  }
  a {
    color: #b3b3b3;
    border: 1px solid #121212;
    text-decoration: none !important;
    width: fit-content;
    padding: 4px 16px;
  }
}

/*subscribe*/

.subscribe {
  .sub_content {
    background-image: url(../imgs/main.jpeg);
    background-position: center;
    background-size: cover;
    min-height: 300px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    .sub_wrapper {
      position: relative;
      z-index: 10;
      h4 {
        font-weight: 400;
      }

      .input__holder {
        position: relative;
        margin-top: 24px;
        input {
          background-color: transparent;
          border: none;
          outline: none;
          color: #fff;
          padding-right: 32px;
          border-bottom: 1px solid #fff;
          width: 100%;
          &::-moz-placeholder {
            color: #fff;
          }
          &::-webkit-input-placeholder {
            color: #fff;
          }
          &::placeholder {
            color: #fff;
          }
        }
        button {
          background-color: transparent;
          box-shadow: none !important;
          border: none;
          outline: none;
          position: absolute;
          right: 0;
          cursor: pointer;
        }
      }
    }
  }
}

footer {
  padding: 24px 0;
  border-top: 3px solid #c0c0c0;
  margin-top: 24px;
  .container {
    padding: 0;
  }
  .footer_about {
    p {
      font-size: 14px;
      color: #bababa;
    }
    .social {
      i {
        margin-inline-end: 8px;
      }
      @media (max-width: 991px) {
        margin-bottom: 24px;
      }
    }
  }
  .footer_links {
    @media (max-width: 991px) {
      margin-bottom: 24px;
    }
    h5 {
      font-weight: 600;
      margin-bottom: 16px;
      font-size: 17px;
    }
    a {
      color: #8f8f8f;
      display: block;
      margin-bottom: 8px;
      text-decoration: none !important;
    }
  }
}
/*responsive issues */

.container,
.main-content {
  @media (max-width: 575px) {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}
.subscribe,
.main {
  .container {
    @media (max-width: 575px) {
      padding: 0 !important;
    }
  }
}

/*information*/
.information {
  border-bottom: 2px solid #c0c0c0;
  .col-lg-3 {
    border-right: 2px solid #c0c0c0;
    @media (max-width: 991px) {
      border: none;
    }
    .info_links {
      margin-top: 24px;
      a {
        color: #888888;
        display: block;
        text-decoration: none !important;
        margin-bottom: 8px;
      }
    }
    .info_links:last-child {
      margin-bottom: 24px;
    }
  }
  .delivery_content {
    padding: 24px 50px;
    @media (max-width: 991px) {
      padding: 24px 0;
    }
    h4 {
      margin-bottom: 24px;
    }
    p {
      color: #888;
    }
  }
}

/* acc_setting*/

.acc_setting {
  border: none;
  h3 {
    border-bottom: 2px solid #c0c0c0;
    font-weight: normal;
    font-size: 24px;
    padding: 20px;
  }
  .col-lg-3 {
    border: none;
  }

  .account_set_links {
    border: 1px solid #ccc;
    margin-bottom: 16px;
    margin-top: 24px;
    a {
      border-bottom: 1px solid #ccc;
      display: block;
      padding: 8px 12px;
      color: #121212;
    }
    a:last-child {
      border: none;
    }
  }
  .sign_out {
    background-color: #000;
    text-align: center;
    padding: 8px 12px;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
  .personal_info {
    border: 1px solid #c0c0c0;
    padding: 18px;
    margin-top: 24px;
    margin-bottom: 16px;
    input {
      display: block;
      width: 40%;
      border: none;
      outline: none;
    }
    a {
      color: #121212;
      text-decoration: none;
    }
  }
}

.modal.login {
  .modal-dialog {
    max-width: 95%;
    height: 100%;
    .modal-content {
      height: 100%;
      .modal-header {
        border: none;
        padding-top: 50px;
        .close {
          position: absolute;
          right: 15px;
          top: 15px;
        }
      }
      .modal-body {
        .body_content {
          max-width: 500px;
          width: 100%;
          margin: auto;
          form {
            input {
              width: 100%;
              border: 1px solid #c0c0c0;
              margin-bottom: 16px;
              padding: 8px 12px;
              border-radius: 4px;
            }
            .remember {
              .check {
                align-items: center;
                label {
                  margin: 0;
                }
                .my_check {
                  display: inline;
                  margin: 0;
                  width: fit-content;
                  margin-right: 5px;
                }
              }
              a {
                color: #121212;
                text-decoration: underline;
              }
            }
            .sign_button {
              background-color: #000;
              border-color: #000;
              color: #fff;
              outline: none;
              padding: 8px 28px;
              margin-top: 24px;
            }
            .join_now {
              margin-top: 36px;
              display: block;
              a {
                color: #888;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}

.subscribe {
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #fff;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    content: "";
    width: 12px;
    height: 12px;
    background: #121212;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.gray_bg {
  .container {
    background-image: linear-gradient(to bottom, #fff 80%, #f9f9f9);
  }
}

/*fav designers */

.fav_designers {
  h3 {
    span {
      display: block;
      font-size: 16px;
      margin-top: 8px;
      color: #121212;
    }
  }
  .fav_list {
    ul {
      padding: 24px 24px 0;
      li {
        margin-bottom: 8px;
        a {
          color: #121212;
          text-decoration: underline;
        }
      }
    }
  }
}

/*producy_item*/
.producy_item {
  margin-top: 24px;
  .product_img {
    overflow: hidden;
    margin-bottom: 8px;
    .quick_view {
      position: absolute;
      width: 100%;
      background: #000;
      color: #fff;
      height: 30px;
      padding-left: 8px;
      display: flex;
      align-items: center;
      font-size: 15px;
      bottom: -35px;
      transition: 0.5s;
      cursor: pointer;
    }
    .fav_star {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 18px;
    }
    &:hover {
      span {
        bottom: 0;
      }
    }
  }
  .product_info {
    .product_name {
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 4px;
    }
    .product_desc,
    .product_price,
    .product_net {
      display: block;
      margin-bottom: 4px;
      font-size: 14px;
      color: #333;
      font-weight: 500;
    }
  }
}
.load_more {
  margin: 36px 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    border: 1px solid #121212;
    color: #121212;
    padding: 6px 46px;
    text-decoration: none;
  }
}

/*designer_collection_header*/

.designer_collection_header {
  padding: 24px 0;
  border-bottom: 2px solid #c0c0c0;
  text-align: center;
  h3 {
    border: none;
    padding: 0;
  }
  h6 {
    margin-bottom: 24px;
  }
  p {
    width: 60%;
    margin: auto;
    @media (max-width: 991px) {
      width: 100%;
    }
  }
}

.sort_by {
  .btn-group {
    margin-top: 24px;
    button {
      background-color: transparent !important;
      color: #212121 !important;
      border-color: #212121 !important;
      box-shadow: none !important;
    }
  }
}

.search_filters {
  margin-top: 24px;
  span {
    color: #888;
    display: block;
    margin-bottom: 24px;
  }
}

#accordion {
  .card {
    border: none;
    margin-bottom: 16px;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
  }
  .card-header {
    padding: 0;
    background-color: transparent;
    border: none;
    h5 {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    button {
      padding: 0;
      color: #121212;
      font-weight: bold;
    }
    small {
      color: #888;
      display: block;
    }
    i {
      font-size: 16px;
    }
  }
  .card-body {
    padding: 0;
  }
}
.paging {
  margin-top: 36px;

  span {
    padding: 8px;
    font-weight: bold;
  }
  .prev {
    margin-right: 16px;
    font-weight: bold;
    i {
      margin-right: 8px;
    }
  }
  .next {
    margin-left: 16px;
    font-weight: bold;
    i {
      margin-left: 8px;
    }
  }
}

/*a__z page */

.search_prod {
  margin-top: 24px;
  form {
    width: fit-content;
    position: relative;
    input {
      border: none;
      border-bottom: 1px solid #121212;
      outline: none;
    }
    button {
      background-color: transparent;
      border: none;
      position: absolute;
      right: 0;
    }
  }
}
.categories {
  margin-bottom: 36px;
}
.filter_options {
  margin-top: 36px;
  h6 {
    color: #888;
    margin-bottom: 16px;
  }
  .check_option {
    .wrapper {
      margin-bottom: 6px;
      @media (max-width: 1200px) {
        flex-wrap: wrap;
      }
    }
    input {
      margin-right: 4px;
    }
    span {
      color: #888;
    }
  }
}
.string_filter {
  margin-top: 25px;
  margin-left: 24px;
  text-align: center;
  margin-bottom: 12px;
  a {
    color: #000;
    text-decoration: none !important;
    padding: 4px;
    margin-right: 8px;
    font-weight: bold;
  }
}
.designer_num {
  color: #888;
  font-size: 15px;
  margin-bottom: 24px;
}

.num_links {
  margin-bottom: 36px;
  padding-left: 28px;
  @media (max-width: 991px) {
    padding-left: 0;
  }

  h3 {
    border: none;
    padding: 0;
    font-weight: bold;
    margin-bottom: 16px;
  }
  a {
    display: block;
    color: #888;
    margin-bottom: 12px;
    font-weight: 600;
  }
}

/********************************modal *************************/

/*****************globals*************/
#productModal {
  img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px;
    }
  }

  .preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    .tab-pane.active{
      height: 100%;
      img{
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
  }
  .preview-thumbnail.nav-tabs li {
    width: 80%;
    margin-right: 2.5%;
    a{
      img{
        opacity: .5;
        height: 70px;
        object-fit: cover;
      }

    }
    a.active{
      img{
        opacity: 1;
      }
    }
  }
  .preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block;
  }
  .preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0;
  }
  .preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0;
  }

  .tab-content {
    overflow: hidden;
  }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
  }

  .card {
    padding: 0;
    border: none;
    line-height: 1.5em;
  }

  @media screen and (min-width: 997px) {
    .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
  }

  .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .colors {
  }

  .product-title,
  .price,
  .sizes,
  .colors {
    text-transform: UPPERCASE;
    font-weight: bold;
    font-size: 15px;
    
  }
h5.sizes{
  border-bottom: 2px solid #c0c0c0;
  padding-bottom: 12px;
}
  .checked,
  .price span {
    color: #000;
    font-size: 16px;
  }

  .product-title,
  .rating,
  .product-description,
  .price,
  .vote,
  .sizes {
    margin-bottom: 15px;
  }
  .product-description{
    text-transform: capitalize;
    color: #888;
    font-size: 17px;
  }

  .product-title {
    margin-top: 0;
  }

  .size {
    margin-right: 10px;
    font-weight: normal;
  }
  .size:first-of-type {
    margin-left: 40px;
  }

  .color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px;
  }
  .color:first-of-type {
    margin-left: 20px;
  }

  .add-to-cart,
  .like {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
  }
  .add-to-cart:hover,
  .like:hover {
    background: #b36800;
    color: #fff;
  }

  .not-available {
    text-align: center;
    line-height: 2em;
  }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff;
  }

  .orange {
    background: #ff9f1a;
  }

  .green {
    background: #85ad00;
  }

  .blue {
    background: #0076ad;
  }

  .tooltip-inner {
    padding: 1.3em;
  }

  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
      transform: scale(3);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

  @keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
      transform: scale(3);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
.shop_now {
  
  margin-bottom: 24px;

  a{
    background-color: #000;
    color:#fff;
    text-decoration: none !important;
    padding: 8px 36px;
    margin-right: 24px;
  }
}
.color_list{
  display: flex;
  align-items: center;
  
  border-bottom: 2px solid #c0c0c0;
  padding-bottom: 12px !important;

  li{
    width: fit-content;
    margin-right: 16px;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    span{
   width: 100%;
   height: 100%;
    display: inline-block;
    
    border-radius: 50%;
    }
  }
  li.active{
    border: 1px solid #888;
    padding: 3px;
  }
  li.yellow span{
    background-color: yellow;
  }
  li.purple span{
    background-color: purple;
  }
}
.prod_details {
  padding-bottom: 12px;
  border-bottom: 2px solid #c0c0c0;
}
  /*# sourceMappingURL=style.css.map */
}
